.about-div-container{
    background-image: url("../../Resources/about-us-backgroud.jpeg");
    background-size: cover;
    display: flex;
    margin-top: 20px;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
}

.about-content-container{
    background-color: rgb(255, 255, 255, 0.5);
    width: 100%;
    padding: 30px;
}

.about-title-container{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 30px;
    text-decoration: underline;
}

.about-content{
    font-size: 18px;
    font-weight: bold;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
}