.nav-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
}

.nav-list li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-list li a:hover{
    background-color: #111;
}

@media screen and (max-width: 576px){
    .nav-list{
        flex-direction: column;
    }
}