.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content-container{
  display: flex;
}

.descriptor-container{
  flex: 1;
  display: inline-table;
  background-color: orangered;
  padding: 10px;
}

.list-title{
  background-color: white;
  font-weight: bold;
  padding: 10px;
  font-family: arial;
}

.list-text{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  padding: 10px;
  text-align: justify;
}

#title-pic{
  padding-top: 20px;
  padding-bottom: 20px;
}

.title-text{
  color: red;
}

.summer-menu-list li{
  padding: 10px;
}

.welcome-special-container{
  flex: 2.5;
  padding: 10px;
}

.welcome{
  display: flex;
  flex-direction: row;
}

.welcome-text{
  font-family: 'Raleway', sans-serif;
}

.cont-content{
  padding: 10px;
  text-align: justify;
}

@media screen and (max-width: 992px){
  .welcome{
    flex-direction: column;
  }

  .welcome-special-container{
    flex: 1.5;
  }

  .descriptor-container{
    flex: 1;
  }
}

@media screen and (max-width: 576px){
  .welcome{
    flex-direction: column;
  }

  .content-container{
      flex-direction: column-reverse;
  }

  .title-pic{
    display: none;
  }
}