.descriptor-title{
    background-color: white;
    font-weight: bold;
    padding: 10px;
    font-family: arial;
}

.descriptor-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding: 10px;
    text-align: justify;
    white-space: pre-wrap;
}

@media screen and (max-width: 576px){
    
}